@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
padding: 0;
}
body {
font-family: 'Inter', sans-serif;
}


/* nav menu css */
.offcanvas-body {
    background-color: #243531;
    height: 50px;
}

.offcanvas {
    width: 100% !important;
}


.dropdown-menu {
    background-color: #243531;
    
}
.navbar-nav .dropdown-menu {
    width: 35%;
}
.dropdown-item {
color: #FFFFFF;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #024132;
}

/* hero section */
.hero {
    padding: 200px;
    height: 600px;
}
.hero-photo {
    background-color: #000000;
}
.hero-title {
    color: #EAC376;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 3px;
}
.hero-sub-title {
    color: #fff;
    font-size: 96px;
    line-height: 92px;
    letter-spacing: -2px;
    font-weight: 700;
    padding-bottom: 20px;
}

.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.page-hero {
    position: relative;
    overflow: hidden;
}

.background-video-content {
    position: relative;
    z-index: 1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn-book {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;  
    text-decoration: none;
    text-transform: uppercase;
}
 a:hover{
     color: #AC4D1E !important;
}

.btn-hero {
    
    background-color: #ac4d1e;
    border-style: solid;
    border-width: 2px;
    border-color: #AC4D1E;
    border-radius: 50px 50px 50px 50px;
    padding: 16px 32px;
}

.btn-Facilities {
    fill: #FFFFFF ;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #ac4d1e00;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
    padding: 16px 32px;
    
}


.btn-outline-secondary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: 500;
}
/* facilities section style */
.facilities {
    background-color: #1b2b27;
   
}

.facilities-area {
    padding-top: 60px;
    padding-bottom: 60px;
}

.facilities-title {
    color: #FFFFFF;
    margin-top: 60px;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: -0.1px;
    margin-bottom: 20px;
}

/* card style */
.card-body-color {
background-color: #eac376;
}
.facilities-card-title {
font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.2px;
    color: #3e3e3e;
}
.facilities-card-text {
font-size: 24px;
    font-weight: 700;
    letter-spacing: -.1px;
    color: #2f210c;
}
.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.5);
}
.icon {
    color: #FFFFFF;
    font-weight: 900;
}

.global-area {
    background-color: #243531;
    
}

.global-title {
    color: #eac376;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 3px;
}

.global-sub-title {
    color: #FFFFFF;
 font-size: 52px;
    font-weight: 700;
    letter-spacing: -1px;
}


.img-area {
    border-radius: 12px;
}

.read-btn {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: #d07d54;
    fill: #d07d54;

}
.btn-hover:hover {
color: #FFFFFF !important;
}
.icon {
    font-size: 20px;
    color: #FFFFFF;
}

.read-icon {
color: #d07d54;
fill: #d07d54;
font-size: 20px;
}

.golf-play {
    padding-top:100px;
    padding-bottom: 40px;
}

.box {
    background-color: #d07d54;
    box-shadow: 0 20px 64px 0 rgb(0 0 0 / 24%);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 20px;
    z-index: 3;
    margin-left: -11px;
    margin-right: -11px;
    border-radius: 0 0 12px 12px;
}



.memberships {
    background-image: url(https://ruffgolf.se/wp-content/uploads/2021/09/rectangle-186-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;


  
}

.more-ruff {
    padding-bottom: 100px;
    padding-top: 60px;
}

/* membership page css */
.membership-bg-hero {
   background-image: url(https://ruffgolf.se/wp-content/uploads/2021/06/medlemskap-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.food-bg {
    background-image: url(https://playxgolf.com/wp-content/uploads/2021/09/X-Golf-Food-and-Bar-Cheers-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 100%;
}

.footer-area {
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-dropdown{
    font-size: 10px;
}

.footer-link {
    color: #d07d54;;
}

.footer-icon {
    font-size: 30px;
    color: #ffffff;
    background-color: gray;
     }

@media screen and (max-width: 480px) {
    .hero {
        width: 100%;
    }
     
}


@media only screen and (max-width: 768px) {
  header{
    width: 100%;
  }
}
     













